<h1>Novo Campo Personalizado</h1>
<p><h6> Digite o NOME e ecolha TIPO para o novo campo a ser inserido no Casdastro de Contatos. Você pode adicionar quantos campos novos desejar! Após salvar os novos campos já estarão disponiveis na tela de Casdastro.</h6></p>

<%= render 'form', custom_field: @custom_field %>