<%- model_class = Contact -%>
<p><h5>.::Você pode adicionar novos "Campos" a este Cadastro de Contatos. Basta selecionar no Menu "Personalizar Contato"::.</h5></p>
<div class="page-header">
	<h1>Novo Contato</h1>
</div>
<%= render :partial => 'form' %>
