<div class="field">
  	<div class="control-label col-lg-2">
  		<label><%= field.name %></label>
  	</div>
    <div class="col-lg-offset-2 col-lg-10">
  		<input type="checkbox" name="custom_fields[][value]" value="<%= field.value.present? %>">
  	</div>
</div>
